*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
GarciaDatabase26.xlsx filter=lfs diff=lfs merge=lfs -text
1500px-Naval_Flag_of_the_Kingdom_of_France_(Civil_Ensign).svg.png filter=lfs diff=lfs merge=lfs -text
奥顿兰海港.png filter=lfs diff=lfs merge=lfs -text
奥顿兰斯巴达克斯.png filter=lfs diff=lfs merge=lfs -text
哈贾丹太平洋人.png filter=lfs diff=lfs merge=lfs -text
哈卡拉托特卡.png filter=lfs diff=lfs merge=lfs -text
哈卡拉托特卡11.png filter=lfs diff=lfs merge=lfs -text
皇家萨乌萨乌.png filter=lfs diff=lfs merge=lfs -text
坎布尔新吕伐登.png filter=lfs diff=lfs merge=lfs -text
孔恩度卢FC.png filter=lfs diff=lfs merge=lfs -text
拉阿纳城市竞技.png filter=lfs diff=lfs merge=lfs -text
马雷克新.png filter=lfs diff=lfs merge=lfs -text
穆拉哈西部.png filter=lfs diff=lfs merge=lfs -text
诺维奇港新.png filter=lfs diff=lfs merge=lfs -text
萨乌萨乌新.png filter=lfs diff=lfs merge=lfs -text
三宝敦.png filter=lfs diff=lfs merge=lfs -text
色温岱州东岳.png filter=lfs diff=lfs merge=lfs -text
斯波托普城市.png filter=lfs diff=lfs merge=lfs -text
瓦巴萨朱艾奥纳尔.png filter=lfs diff=lfs merge=lfs -text
瓦巴萨朱树鸦.png filter=lfs diff=lfs merge=lfs -text
维尔图钢管.png filter=lfs diff=lfs merge=lfs -text
新达华哈海岸.png filter=lfs diff=lfs merge=lfs -text
新吕伐登猫头鹰.png filter=lfs diff=lfs merge=lfs -text
新泰新3.png filter=lfs diff=lfs merge=lfs -text
伊斯特伍德联合新2.png filter=lfs diff=lfs merge=lfs -text
十周年纪念.png filter=lfs diff=lfs merge=lfs -text
比斯恰捍卫者.png filter=lfs diff=lfs merge=lfs -text
哈瓦鲁海岸.png filter=lfs diff=lfs merge=lfs -text
南比斯恰城市.png filter=lfs diff=lfs merge=lfs -text
泰克马队.png filter=lfs diff=lfs merge=lfs -text
泰克马职业.png filter=lfs diff=lfs merge=lfs -text
新法鲁和大里斯本体育.png filter=lfs diff=lfs merge=lfs -text
新法鲁新.png filter=lfs diff=lfs merge=lfs -text
运动伊斯特伍德.png filter=lfs diff=lfs merge=lfs -text
朱马蓝色协进.png filter=lfs diff=lfs merge=lfs -text
球员属性（筛选）[[:space:]].csv filter=lfs diff=lfs merge=lfs -text
yiqiande1.xlsx filter=lfs diff=lfs merge=lfs -text
008.swf filter=lfs diff=lfs merge=lfs -text
超级守门员.swf filter=lfs diff=lfs merge=lfs -text
极限飞车三无敌版.swf filter=lfs diff=lfs merge=lfs -text
傀儡足球2014.swf filter=lfs diff=lfs merge=lfs -text
世界功夫足球.swf filter=lfs diff=lfs merge=lfs -text
feidiaode2.xlsx filter=lfs diff=lfs merge=lfs -text
feidiaode3.xlsx filter=lfs diff=lfs merge=lfs -text
feidiaode4.xlsx filter=lfs diff=lfs merge=lfs -text
feidiaode5.xlsx filter=lfs diff=lfs merge=lfs -text
feidiaode6.xlsx filter=lfs diff=lfs merge=lfs -text
feidiaode7.xlsx filter=lfs diff=lfs merge=lfs -text
feidiaode1.xlsx filter=lfs diff=lfs merge=lfs -text
feidiaode9.xlsx filter=lfs diff=lfs merge=lfs -text
garciaapp.apk filter=lfs diff=lfs merge=lfs -text
feidiaode10.xlsx filter=lfs diff=lfs merge=lfs -text
feidiaode11.xlsx filter=lfs diff=lfs merge=lfs -text
feidiaode12.xlsx filter=lfs diff=lfs merge=lfs -text
feidiaode14.xlsx filter=lfs diff=lfs merge=lfs -text
